.Presentation{
    
   
    top: 200px;
    position: relative;
    background-color: #383838;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}
.Presentation p, .Presentation h2{
    text-align: center;
  
}
