.Button{
    padding: 5px 20px;
    background-color: rgb(95, 25, 25);
    color: #fff;
    transition-duration: 1s;
    border-radius: 20px 20px 20px 20px;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .8);

}
.Button:hover{
    background-color: #450707;
}